<div class="explore">
	<div class="row">
		<div class="col-md-12 col-xs-12">
	
			<ol class="breadcrumb transparent">
			  <li><a href="/#!/">Intro</a></li>
			  <li class="active">Explore</li>
			</ol>
			
		</div>
	</div>
	<explore></explore>
</div>