<div class="page" style="color:white">
    <div class="dummy" id="info">HELLO</div>
    <embed class="pdf" src="test.pdf" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
</div>
