/*!
	YOARTHFU
	APP STYLESHEET, ANIMATIONS KEYS, PRIVATE WEBFONTS
*/

//@import "vendor/bootstrap/stylesheets/_bootstrap.scss";
@import "modules/bootstrap";
//@import "modules/_variables.scss";
//@import "modules/_bootswatch.scss";
@import "modules/intro";
//@import "../css/vendor/smooth-scrollbar.css";
//@import "../css/vendor/angular-material.css";

@font-face {
	font-family:'letter_dazedbold';
	src: local('letter_dazedbold'), local('letter_dazedbold'), url('/assets/fonts/letter_dazed_bold-webfont-126e99b823f4b8cc6cffb212e79677f9027227b0.woff') format('woff');
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:'letter_dazedregular';
	src: local('letter_dazedregular'), local('letter_dazedregular'), url('/assets/fonts/letter_dazed-webfont-b8b0a154adc7dcbabd7b929cd07bc7b0af4a3991.woff') format('woff');
	font-weight:400;
	font-style:normal;
}

@font-face {
  font-family: 'Manifold CF';
  src: url('/assets/fonts/ManifoldCF-Bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/ManifoldCF-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/ManifoldCF-Bold.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/ManifoldCF-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/ManifoldCF-Bold.svg#acc0ba8c9ddbb9b0f7d7f456b3ee5ad4') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Manifold CF Bold';
  src: url('/assets/fonts/ManifoldCF-BoldOblique.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/ManifoldCF-BoldOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/ManifoldCF-BoldOblique.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/ManifoldCF-BoldOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/ManifoldCF-BoldOblique.svg#875c2bcda5d711868f7b0fdbf028006c') format('svg'); /* Legacy iOS */

  font-style:   oblique;
  font-weight:  700;
}

@font-face {
  font-family: 'Manifold CF Demi Bold';
  src: url('/assets/fonts/ManifoldCF-DemiBold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/ManifoldCF-DemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/ManifoldCF-DemiBold.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/ManifoldCF-DemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/ManifoldCF-DemiBold.svg#5553a5e8454005d6bad4ebe6a237c93c') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Manifold CF Demi Bold';
  src: url('/assets/fonts/ManifoldCF-DemiBoldOblique.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/ManifoldCF-DemiBoldOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/ManifoldCF-DemiBoldOblique.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/ManifoldCF-DemiBoldOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/ManifoldCF-DemiBoldOblique.svg#c5d31ec9645ff54e23c7327a09cb9115') format('svg'); /* Legacy iOS */

  font-style:   oblique;
  font-weight:  700;
}

@font-face {
  font-family: 'Manifold CF Extra Bold';
  src: url('/assets/fonts/ManifoldCF-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/ManifoldCF-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/ManifoldCF-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/ManifoldCF-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/ManifoldCF-ExtraBold.svg#40821318c0a429c7463f5fe7e4885d94') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Manifold CF Extra Bold';
  src: url('/assets/fonts/ManifoldCF-ExtraBoldOblique.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/ManifoldCF-ExtraBoldOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/ManifoldCF-ExtraBoldOblique.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/ManifoldCF-ExtraBoldOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/ManifoldCF-ExtraBoldOblique.svg#3f0b24508d7214c3dfee52139ba73a25') format('svg'); /* Legacy iOS */

  font-style:   oblique;
  font-weight:  700;
}

@font-face {
  font-family: 'Manifold CF Light';
  src: url('/assets/fonts/ManifoldCF-Light.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/ManifoldCF-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/ManifoldCF-Light.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/ManifoldCF-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/ManifoldCF-Light.svg#59c5b624ac120c8b20763cc7cb25585a') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Manifold CF Light';
  src: url('/assets/fonts/ManifoldCF-LightOblique.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/ManifoldCF-LightOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/ManifoldCF-LightOblique.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/ManifoldCF-LightOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/ManifoldCF-LightOblique.svg#91967a94008d783a0f92e9bf2caed4bd') format('svg'); /* Legacy iOS */

  font-style:   oblique;
  font-weight:  200;
}

@font-face {
  font-family: 'Manifold CF';
  src: url('/assets/fonts/ManifoldCF-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/ManifoldCF-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/ManifoldCF-Regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/ManifoldCF-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/ManifoldCF-Regular.svg#7961c55476f36afb3b2ba5d3dc375565') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Manifold CF';
  src: url('/assets/fonts/ManifoldCF-RegularOblique.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/ManifoldCF-RegularOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/ManifoldCF-RegularOblique.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/ManifoldCF-RegularOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/ManifoldCF-RegularOblique.svg#0463d3a9f9d04a01c614d6b3f86cea93') format('svg'); /* Legacy iOS */

  font-style:   oblique;
  font-weight:  400;
}

@font-face {
  font-family: 'Manifold CF Extended';
  src: url('/assets/fonts/ManifoldCFExtended-Bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/ManifoldCFExtended-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/ManifoldCFExtended-Bold.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/ManifoldCFExtended-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/ManifoldCFExtended-Bold.svg#7e069a90e29aab3a3f1bbb628c39caf5') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Manifold CF Extended Demi Bold';
  src: url('/assets/fonts/ManifoldCFExtended-DemiBold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/ManifoldCFExtended-DemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/ManifoldCFExtended-DemiBold.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/ManifoldCFExtended-DemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/ManifoldCFExtended-DemiBold.svg#5bc8678aaa705c619552f26599f3aed6') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Manifold CF Extended Extra Bold';
  src: url('/assets/fonts/ManifoldCFExtended-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/ManifoldCFExtended-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/ManifoldCFExtended-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/ManifoldCFExtended-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/ManifoldCFExtended-ExtraBold.svg#cb4aa0292cc551d3c3c40e9a6c9147c4') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Manifold CF Extended Light';
  src: url('/assets/fonts/ManifoldCFExtended-Light.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/ManifoldCFExtended-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/ManifoldCFExtended-Light.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/ManifoldCFExtended-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/ManifoldCFExtended-Light.svg#6e35ea34f83b4c7e2a4038c0bc62ca8a') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Manifold CF Extended';
  src: url('/assets/fonts/ManifoldCFExtended-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/ManifoldCFExtended-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/ManifoldCFExtended-Regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/ManifoldCFExtended-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/ManifoldCFExtended-Regular.svg#2d53a30b311a8f8e56bcfd29ef1b4361') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}


// ----------------------------------------------------
// 1. GENERAL SETTINGS
// ----------------------------------------------------
//corpoaregular, corporate_a_condensedregular, CorporateS

html,
body {
	background-color: #000;
	font-family: 'Manifold CF';
    height: 100%;
    overflow: visible;
    padding:0!important;
    margin:0!important;
    color: #000;
/*
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
*/

}

.transparent {
	background: transparent;
}
.ambient {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center center;
  background-size: cover;
}

$transY:-50%;

.ng-hide {
  opacity: 0;
}

.ng-hide-add,
.ng-hide-remove {
  transition: all linear 1.5s;
}

.explore {

	explore h1,h5{

		font-family: 'Manifold CF';
	}
	position: relative;
	color:#fff;
	.form-control {
		border-color: white;
		color: white;
	}

	.loader { position: absolute; }
	.blend {
		//background-color: purple;
		width: 200%;
		height: 100%;
		position:absolute;
		top:0;left: 0;
		//z-index: 10;
		mix-blend-mode: darken;

		background: linear-gradient(270deg, #ffffff, #c6c6c6, #fbb7ce, #ffffff);
		background-repeat: repeat;
		background-size: 50% 100%;

		animation: AnimationName 3s linear infinite;


		@keyframes AnimationName {
		    from { transform: translateX(0); }
		    to { transform: translateX(-50%); }
		}

	}

}


.three {

	background-color: rgba(153, 127, 127, 0.37);
	border:1px solid black;
	position:absolute;
	z-index:10;
	top:35%;
	left:10%;
	cursor: move;
	padding:10px;
	color:#fff;
	width:300px;

	h2 {
		padding: 4px;
		margin: 0;
		font-size: 20px;

	}
	button {
		color:red;
		background-color: #333;
		font-weight: bold;
		border: 1px solid black;
	}

}
