<div class="intro row">
	<div class="welcome col-xs-12 col-md-12 col-lg-12" ng-show="images">
<!-- 		<img class="logo" ng-src="/assets/images/yrtflogo-514.png" style="display: none"> -->
		<h4><a href="/#!/explore">Going deep...</a></h4>
	</div>

</div>