<div class="container">

	<div class="row">

		    <div class="input-group col-lg-12 col-md-12 col-xs-12">
			  	<input ng-model="$ctrl.query" type="text" class="form-control transparent" placeholder="Search for...">
		    </div><!-- /input-group -->

	</div>
	<div class="row">
		<div class="blend"></div>
		<div class="loader" ng-show="loader" ng-bind="loaderMessage">{{loaderMessage}}</div>

		<div class="" ng-show="data">
			<div class="" ng-repeat="content in $ctrl.content | filter: $ctrl.query">
				<h1>{{content.label | uppercase}}<h1>
				<h5>{{content.description | uppercase}}</h5>
			</div>
		</div>
	</div>
</div>
