.intro {

	* {
		font-family: 'Roboto';
		font-weight: lighter;
	}
	height: 100vh;
	position: relative;

	.welcome {
		position: relative;
		height: auto;
		top: 50%;
//		transform: translateY(-50%);
		color: white;
		text-align: center;

	}
	video {
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 50vh;
	    width: 100%;
	    height: 50%;
	    z-index: -100;
	    -webkit-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
	    background-size: cover;

	}


}
